html{
    width: 100%;
}
.header{
    padding-top: 80px;
    background-color: black;
    /* background: linear-gradient(to top, rgba(243, 196, 196, 0), black, black, black); */
}
#title{
    color: #00BA51;
    padding: 10px;
}
.icon{
    width: 50px; 
    height: 50px;
    margin: 7px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}
.icon:hover, .icon:active{
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}
.techicons{
    width: 100px; 
    height: 100px;
    margin: 10px;
}
.contact-box{
    margin: 0 auto;
    padding: 20px;
    border: solid #00BA51 7px;
    width: 80%;
    background-color: white;
    border-radius: 15px 15px;
}
.contact-box:hover, .contact-box:active{
    box-shadow: rgba(0, 186, 81, 0.548) 0px 0px 10px 10px;
}
.contact{
    font-weight: bold;
}
#aboutMeTitle, #aboutMePostCollege{
    background-color: rgb(238, 247, 253);
    margin-right: -5px;
    background-size: flex;
    width: 43.5%;
    display: inline-block;
    vertical-align: top;
    height: 370px;
    overflow: hidden;
    
}
#aboutMeHobbies{
    background-color: rgb(255, 255, 241);
    background-size: flex;
    width: 64.7%;
    display: inline-block;
    vertical-align: top;
    height: 370px;
    margin-left: -5px;
    overflow: hidden;
}
#aboutme p{
    padding: 10px 30px;
    display: inline-block;
    vertical-align: top;
    
}
#spaceNeedle, #codeBlock{
    width: 56.35%;
    height: 370px;
    display: inline-block;
    vertical-align: top;
    
}
#money{
    width: 35%;
    height: 370px;
    display: inline-block;
    vertical-align: top;

}
#hollywood, #huskies{
    width: 35%;
    height: 370px;
    display: inline-block;
    vertical-align: top;

}
#aboutMeEducation{
    width: 29.2%;
    height: 370px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}
#aboutMeTitle, #aboutMePostCollege,{
    background-color: dodgerblue;
}
.aboutmetxt{
    margin-left: 15px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2), 0 8px 24px 0 rgba(0,0,0,.19);
    width: 95%;
    border-radius: 15px 15px;
    background: linear-gradient(to top, rgba(9, 255, 0, 0), rgba(4, 120, 0, 0.418));
    transition: 200ms ease-in-out;
    
}
.aboutmetxt:hover, .aboutmetxt:active{
    background-color: #00BA51;
    z-index: 5;
    font-weight: bold;
    position: absolute;
    margin: 0 auto;
    width: 60%;
}
#videobox{
    padding: 25px;
}
.projectvideo{
    width: 70%;
    background-color: black;
    border-radius: 25px 25px;
    padding: 20px 0;
    display: inline-block;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2), 0 8px 24px 0 rgba(0,0,0,.19);  
    margin-bottom: 15px;
}
.video{
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 600px;
}
.projectinfo{
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: 27%;
    vertical-align: top;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2), 0 8px 24px 0 rgba(0,0,0,.19);
    border-radius: 25px 25px;
    margin: 0 5px 15px 5px;
}
hr{
    border-top-width: 3px;
    border-top-color: #00BA51;
    width: 80%;
}
li:hover{
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: dodgerblue;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px transparent;
}
.gameinfobullet{
    color: #00BA51;
}
iframe{
    width: 90%;
    height: 100%;
}
#techskills{
    background-color: #00BA51;
}
.techbox{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .25), 0 10px 26px 0 rgba(0,0,0,.24);
    margin-bottom: 15px;
    background-color: white;
    
}
hr{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .25), 0 10px 26px 0 rgba(0,0,0,.24);
}
footer{
    height: 370px;
    padding: 20px;
    background-color: black;
    background-size: cover;
}
#footercontact{
    background-color: white;
    list-style: none;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px 20px;
    font-weight: bold;
    padding: 5px;
}
@media only screen and (max-width: 1150px){
/* less than 1100 wiill be applied */
    .vid-lg{
        display: none;
    }
    .projectcard{
        margin-bottom: 20px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .23), 0 10px 24px 0 rgba(0,0,0,.21);
        border-radius: 25px 25px;
    }
    .projectvideo{
        width: 100%;
        background-color: black;
        border-radius: 25px 25px 0 0;
        padding: 20px 0;
        display: block; 
        margin: 0 auto;
        box-shadow: none;
    }
    .projectinfo{
        padding: 15px;
        text-align: center;
        display: block;
        width: 100%;
        border-radius: 0 0 25px 25px;
        box-shadow: none;
        margin: 0 auto;
    }
    .video{
        height: 500px;
    }
    ul{
        list-style: none;
        padding: 10px;
    }
    #hollywood, #huskies, #aboutMeEducation, #aboutMeEducation-xs, #huskies-xs, #spaceNeedle-xs, #codeBlock-xs{
        display: none;
    }
    #huskies-md{
        height: 370px;
        display: inline-block;
        vertical-align: top;
        width: 55%;
    }
    #aboutMeEducation-md{
        width: 44%;
        height: 370px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }
    .aboutmetxt-md{
        margin-left: 10px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .2), 0 8px 24px 0 rgba(0,0,0,.19);
        width: 95%;
        border-radius: 15px 15px;
        background: linear-gradient(to top, rgba(9, 255, 0, 0), rgba(4, 120, 0, 0.418));
        transition: 200ms ease-in-out;
        
    }
    .aboutmetxt-md:hover, .aboutmetxt-md:active{
        background-color: #00BA51;
        z-index: 5;
        font-weight: bold;
        position: absolute;
        left: 20px;
        margin: 0 auto;
        width: 80%;
    }
    #footercontact{
        width: 86%;
    }
}
/* greater than will be applied below */
@media only screen and (min-width: 1151px){
    .vid-md, #aboutMeEducation-md, #huskies-md, #aboutMeEducation-xs, #huskies-xs, #spaceNeedle-xs, #codeBlock-xs{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    #aboutme h3{
        position: relative;
        z-index: +2;
        color: white;
    }
    #aboutMeEducation-md, #huskies-md, #spaceNeedle, #codeBlock{
        display: none;
    }
    #aboutMeEducation-xs{
        width: 100%;
        height: 370px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        /* position: absolute; */
        background: transparent;
        margin-bottom: -.5px;
    }
    #huskies-xs, #spaceNeedle-xs, #codeBlock-xs{
        height: 370px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        position: absolute;
        opacity: .8;
    }
    #aboutMeTitle, #aboutMePostCollege{
        margin-bottom: -.5px;
        width: 100%;
        background: transparent;
    }
    #spaceNeedle-xs:hover, #huskies-xs:hover, #codeBlock-xs:hover{
        opacity: 1;
        z-index: -1;
    }
    .aboutmetxt:hover, .aboutmetxt:active, .aboutmetxt-md:hover, .aboutmetxt-md:active{
        /* background-color: initial; */
        /* z-index: initial; */
        /* font-weight: initial; */
        position: absolute;
        margin: initial;
        width: 90%;
    }
}